<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0 font-12">
                    <li class="breadcrumb-item"><%= link_to "Cliente", client_path(@client) %></li>
                    <li class="breadcrumb-item"><%= link_to @project.name, client_project_path(@client, @project) %></li>
                    <li class="breadcrumb-item active">Ajustes</li>
                </ol>
            </div>
            <h4 class="page-title">Configuración del Proyecto</h4>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-lg-9">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">
                <div class="d-flex align-items-center mb-4">
                    <div class="avatar-sm bg-soft-primary rounded p-1 me-2">
                        <i class="ri-settings-3-line font-24 text-primary"></i>
                    </div>
                    <div>
                        <h4 class="header-title mb-0">Editar Información General</h4>
                        <p class="text-muted font-13 mb-0">Actualiza los parámetros principales del proyecto para <%= @client.company_name %></p>
                    </div>
                </div>

                <%= render "form" %>

            </div>
        </div>
    </div>
</div>