<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="header-title mb-3">Editar Etapa</h4>
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>