<td class="text-end">
    <%= link_to edit_client_project_activity_path(@client, @project, activity), class: "btn btn-xs btn-outline-primary me-1", data: { bs_toggle: "tooltip" }, title: "Editar Costos y Tiempos" do %>
        <i class="mdi mdi-pencil"></i>
    <% end %>

    <button class="btn btn-xs btn-light" data-bs-toggle="tooltip" title="Subir Evidencia"><i class="mdi mdi-upload"></i></button>
</td>