<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="text-md-end d-none d-md-block">
                    <script>document.write(new Date().getFullYear())</script> © Consilium - <a href="javascript: void(0);">consilium.com</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->